[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "SDL_image"]
	path = SDL_image
	url = https://github.com/libsdl-org/SDL_image
