[submodule "SDL"]
	path = SDL
	url = https://github.com/libsdl-org/SDL
[submodule "SDL_ttf"]
	path = SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf
[submodule "freetype"]
	path = freetype
	url = https://gitlab.freedesktop.org/freetype/freetype
[submodule "SDL_mixer"]
	path = SDL_mixer
	url = https://github.com/libsdl-org/SDL_mixer
[submodule "ogg"]
	path = ogg
	url = https://github.com/xiph/ogg
